* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001b3d;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    flex: 1 1 40%;
    min-height: 733px;
}

.presentation {
    width: 100%;
}

.name {
    padding-left: 30px;
}

.name h1 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 6rem;
}

.role {
    padding-left: 50px;
}

.role h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.pages {
    width: 100%;
}

.pages ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    list-style-type: none;
}

.pages li {
    cursor: pointer;
    text-decoration: underline solid transparent;
    transition: ease 0.5s;
}

.pages li:hover {
    text-decoration: underline solid;
}

aside {
    visibility: hidden;
    background-color: #002049;
    flex: 1 1 60%;
    max-height: 100vh;
    overflow-y: auto;
}

@media (max-width: 825px) {
    aside {
        max-height: none;
    }
}