* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

:host:before, :host:after {
    content: "";
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

li {
    background-color: #22436d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

li p {
    font-weight: 300;
}