* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    width: 100%;
    height: 100%;
    display: flex;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 40px;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

ul:before, ul:after {
    content: "";
}

li {
    flex: 1 100px;
    max-height: 125px;
    background-color: #22436d;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

li h4 {
    text-transform: uppercase;
}

li p {
    overflow: hidden;
    font-weight: 300;
}